<footer data-elementor-type="footer" data-elementor-id="37" class="elementor elementor-37 elementor-location-footer" data-elementor-post-type="elementor_library">
					<section data-particle_enable="false" data-particle-mobile-disabled="false" class="elementor-section elementor-top-section elementor-element elementor-element-fc9578b elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="fc9578b" data-element_type="section" data-e-type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-3074b6a" data-id="3074b6a" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-98fa300 elementor-widget elementor-widget-heading" data-id="98fa300" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h2 class="elementor-heading-title elementor-size-default">Get More Information</h2>				</div>
				</div>
				<div class="elementor-element elementor-element-d94c49b elementor-widget elementor-widget-html" data-id="d94c49b" data-element_type="widget" data-e-type="widget" data-widget_type="html.default">
				<div class="elementor-widget-container">
					<iframe src="https://verified.trustymail.co/widget/form/QkHUoEsI0wB7n2egM9ao" style="width:100%;height:100%;border:none;border-radius:0px" id="inline-QkHUoEsI0wB7n2egM9ao" data-layout="{'id':'INLINE'}" data-trigger-type="alwaysShow" data-trigger-value="" data-activation-type="alwaysActivated" data-activation-value="" data-deactivation-type="neverDeactivate" data-deactivation-value="" data-form-name="Contact Us Form" data-height="814" data-layout-iframe-id="inline-QkHUoEsI0wB7n2egM9ao" data-form-id="QkHUoEsI0wB7n2egM9ao" title="Contact Us Form">
</iframe>
<script src="/wp/js/9da0e7f13b8a.js"></script>				</div>
				</div>
					</div>
		</div>
					</div>
		</section>
				<section data-particle_enable="false" data-particle-mobile-disabled="false" class="elementor-section elementor-top-section elementor-element elementor-element-106783b elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="106783b" data-element_type="section" data-e-type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-df0acd9" data-id="df0acd9" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<section data-particle_enable="false" data-particle-mobile-disabled="false" class="elementor-section elementor-inner-section elementor-element elementor-element-0ee719c elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="0ee719c" data-element_type="section" data-e-type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-cd87e60" data-id="cd87e60" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-38b09f4 elementor-widget elementor-widget-theme-site-logo elementor-widget-image" data-id="38b09f4" data-element_type="widget" data-e-type="widget" data-widget_type="theme-site-logo.default">
				<div class="elementor-widget-container">
											<a href="/">
			<img fetchpriority="high" width="533" height="97" src="/wp-content/uploads/2022/08/logo.png" class="attachment-full size-full wp-image-294" alt="" srcset="/wp-content/uploads/2022/08/logo.png 533w, /wp-content/uploads/2022/08/logo-300x55.png 300w" sizes="(max-width: 533px) 100vw, 533px">				</a>
											</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-d14eedb" data-id="d14eedb" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-24d5c2c elementor-widget elementor-widget-heading" data-id="24d5c2c" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h2 class="elementor-heading-title elementor-size-default">Services</h2>				</div>
				</div>
				<div class="elementor-element elementor-element-8c86fc4 elementor-align-start elementor-mobile-align-center elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="8c86fc4" data-element_type="widget" data-e-type="widget" data-widget_type="icon-list.default">
				<div class="elementor-widget-container">
							<ul class="elementor-icon-list-items">
							<li class="elementor-icon-list-item">
											<a href="https://trindustrial.wpengine.com/#benefits">

											<span class="elementor-icon-list-text">Features</span>
											</a>
									</li>
								<li class="elementor-icon-list-item">
											<a href="https://trindustrial.wpengine.com/#services">

											<span class="elementor-icon-list-text">Services</span>
											</a>
									</li>
								<li class="elementor-icon-list-item">
											<a href="https://trindustrial.wpengine.com/#enterprise">

											<span class="elementor-icon-list-text">Enterprise </span>
											</a>
									</li>
						</ul>
						</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-c58f06f" data-id="c58f06f" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-49ddc1ea elementor-widget elementor-widget-heading" data-id="49ddc1ea" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h2 class="elementor-heading-title elementor-size-default">Company</h2>				</div>
				</div>
				<div class="elementor-element elementor-element-5ea4e2b7 elementor-align-start elementor-mobile-align-center elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="5ea4e2b7" data-element_type="widget" data-e-type="widget" data-widget_type="icon-list.default">
				<div class="elementor-widget-container">
							<ul class="elementor-icon-list-items">
							<li class="elementor-icon-list-item">
											<a href="https://trindustrial.wpengine.com/services/construction-management-general-contracting/">

											<span class="elementor-icon-list-text">General Contracting</span>
											</a>
									</li>
								<li class="elementor-icon-list-item">
											<a href="https://trindustrial.wpengine.com/services/self-performance/">

											<span class="elementor-icon-list-text">Self Performance</span>
											</a>
									</li>
								<li class="elementor-icon-list-item">
											<a href="https://trindustrial.wpengine.com/services/subcontracting/">

											<span class="elementor-icon-list-text">Subcontracting</span>
											</a>
									</li>
						</ul>
						</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-d79b7e2" data-id="d79b7e2" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-2a87c73 elementor-widget elementor-widget-heading" data-id="2a87c73" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h2 class="elementor-heading-title elementor-size-default">Contact Us</h2>				</div>
				</div>
				<div class="elementor-element elementor-element-1437e8f elementor-widget elementor-widget-heading" data-id="1437e8f" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h3 class="elementor-heading-title elementor-size-default">Address:</h3>				</div>
				</div>
				<div class="elementor-element elementor-element-62e2d2b elementor-widget elementor-widget-heading" data-id="62e2d2b" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h3 class="elementor-heading-title elementor-size-default">24470 Union Hill Rd, Ardmore, Tennessee, 38449</h3>				</div>
				</div>
				<div class="elementor-element elementor-element-a3b676e elementor-widget elementor-widget-heading" data-id="a3b676e" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h3 class="elementor-heading-title elementor-size-default">Phone:</h3>				</div>
				</div>
				<div class="elementor-element elementor-element-be06404 elementor-widget elementor-widget-heading" data-id="be06404" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h3 class="elementor-heading-title elementor-size-default"><a href="tel:256-497-7799">256-497-7799</a></h3>				</div>
				</div>
					</div>
		</div>
					</div>
		</section>
				<section data-particle_enable="false" data-particle-mobile-disabled="false" class="elementor-section elementor-inner-section elementor-element elementor-element-4f0695a elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="4f0695a" data-element_type="section" data-e-type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-fe38900" data-id="fe38900" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-2a8bc73 elementor-widget-divider--view-line elementor-widget elementor-widget-divider" data-id="2a8bc73" data-element_type="widget" data-e-type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
							<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
						</div>
				</div>
					</div>
		</div>
					</div>
		</section>
				<section data-particle_enable="false" data-particle-mobile-disabled="false" class="elementor-section elementor-inner-section elementor-element elementor-element-94bf7a4 elementor-section-content-middle elementor-reverse-mobile elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="94bf7a4" data-element_type="section" data-e-type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-29b4b2e" data-id="29b4b2e" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-7f07bf8d elementor-widget elementor-widget-heading" data-id="7f07bf8d" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<p class="elementor-heading-title elementor-size-default">Copyright © 2026 T.R. INDUSTRIAL LLC | All rights reserved</p>				</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-9a861f9" data-id="9a861f9" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-8f8670c elementor-align-end elementor-icon-list--layout-inline elementor-mobile-align-center elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="8f8670c" data-element_type="widget" data-e-type="widget" data-widget_type="icon-list.default">
				<div class="elementor-widget-container">
							<ul class="elementor-icon-list-items elementor-inline-items">
							<li class="elementor-icon-list-item elementor-inline-item">
											<a href="#">

											<span class="elementor-icon-list-text">Terms &amp; Conditions</span>
											</a>
									</li>
								<li class="elementor-icon-list-item elementor-inline-item">
											<a href="#">

											<span class="elementor-icon-list-text">Privacy Policy</span>
											</a>
									</li>
						</ul>
						</div>
				</div>
					</div>
		</div>
					</div>
		</section>
					</div>
		</div>
					</div>
		</section>
				</footer>