<main id="content" class="site-main post-54 page type-page status-publish hentry">

	
	<div class="page-content">
				<div data-elementor-type="wp-page" data-elementor-id="54" class="elementor elementor-54" data-elementor-post-type="page">
						<section data-particle_enable="false" data-particle-mobile-disabled="false" class="elementor-section elementor-top-section elementor-element elementor-element-697f48c elementor-section-height-min-height elementor-section-boxed elementor-section-height-default elementor-section-items-middle" data-id="697f48c" data-element_type="section" data-e-type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
							<div class="elementor-background-overlay"></div>
							<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-29e3122" data-id="29e3122" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-f358996 elementor-widget elementor-widget-heading" data-id="f358996" data-element_type="widget" data-e-type="widget" data-settings="{&quot;_animation&quot;:&quot;none&quot;}" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h1 class="elementor-heading-title elementor-size-default">Contact us</h1>				</div>
				</div>
					</div>
		</div>
					</div>
		</section>
				<section data-particle_enable="false" data-particle-mobile-disabled="false" class="elementor-section elementor-top-section elementor-element elementor-element-ca30cb1 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="ca30cb1" data-element_type="section" data-e-type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-19ff51e" data-id="19ff51e" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-233caf1 elementor-widget elementor-widget-heading" data-id="233caf1" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h2 class="elementor-heading-title elementor-size-default">Get A Free Consultant</h2>				</div>
				</div>
				<div class="elementor-element elementor-element-13e5009 elementor-widget elementor-widget-text-editor" data-id="13e5009" data-element_type="widget" data-e-type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
									<p>Thank you for your interest in tr industrial. We look forward to hear from you! To explore our current career opportunities, kindly refer to the company drop-down menu above. For any general business inquiries, please complete the form below, and we will get in touch with you shortly.</p>								</div>
				</div>
				<div class="elementor-element elementor-element-6f978b4 elementor-widget elementor-widget-html" data-id="6f978b4" data-element_type="widget" data-e-type="widget" data-widget_type="html.default">
				<div class="elementor-widget-container">
					<iframe src="https://verified.trustymail.co/widget/form/QkHUoEsI0wB7n2egM9ao" style="width:100%;height:100%;border:none;border-radius:0px" id="inline-QkHUoEsI0wB7n2egM9ao" data-layout="{'id':'INLINE'}" data-trigger-type="alwaysShow" data-trigger-value="" data-activation-type="alwaysActivated" data-activation-value="" data-deactivation-type="neverDeactivate" data-deactivation-value="" data-form-name="Contact Us Form" data-height="814" data-layout-iframe-id="inline-QkHUoEsI0wB7n2egM9ao" data-form-id="QkHUoEsI0wB7n2egM9ao" title="Contact Us Form">
</iframe>
<script src="/wp/js/9da0e7f13b8a.js"></script>				</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-d84bff1" data-id="d84bff1" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-f678d0b elementor-widget elementor-widget-heading" data-id="f678d0b" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h2 class="elementor-heading-title elementor-size-default">Let's get in touch</h2>				</div>
				</div>
				<div class="elementor-element elementor-element-43eef32 elementor-widget elementor-widget-google_maps" data-id="43eef32" data-element_type="widget" data-e-type="widget" data-widget_type="google_maps.default">
				<div class="elementor-widget-container">
							<div class="elementor-custom-embed">
			<iframe loading="lazy" src="https://maps.google.com/maps?q=24470%20Union%20Hill%20Rd%2C%20Ardmore%2C%20Tennessee%2C%2038449&amp;t=m&amp;z=10&amp;output=embed&amp;iwloc=near" title="24470 Union Hill Rd, Ardmore, Tennessee, 38449" aria-label="24470 Union Hill Rd, Ardmore, Tennessee, 38449"></iframe>
		</div>
						</div>
				</div>
				<div class="elementor-element elementor-element-718abc4 elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="718abc4" data-element_type="widget" data-e-type="widget" data-widget_type="icon-list.default">
				<div class="elementor-widget-container">
							<ul class="elementor-icon-list-items">
							<li class="elementor-icon-list-item">
											<span class="elementor-icon-list-icon">
							<i aria-hidden="true" class="fas fa-map-marked-alt"></i>						</span>
										<span class="elementor-icon-list-text">24470 Union Hill Rd, Ardmore, Tennessee, 38449</span>
									</li>
								<li class="elementor-icon-list-item">
											<span class="elementor-icon-list-icon">
							<i aria-hidden="true" class="fas fa-phone-alt"></i>						</span>
										<span class="elementor-icon-list-text">(555) 555-1234</span>
									</li>
						</ul>
						</div>
				</div>
				<div class="elementor-element elementor-element-ccdd19c elementor-widget elementor-widget-heading" data-id="ccdd19c" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h2 class="elementor-heading-title elementor-size-default">Business Hours</h2>				</div>
				</div>
				<div class="elementor-element elementor-element-7000bdd elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="7000bdd" data-element_type="widget" data-e-type="widget" data-widget_type="icon-list.default">
				<div class="elementor-widget-container">
							<ul class="elementor-icon-list-items">
							<li class="elementor-icon-list-item">
											<span class="elementor-icon-list-icon">
							<i aria-hidden="true" class="far fa-clock"></i>						</span>
										<span class="elementor-icon-list-text">Our business hours are from 8:00am to 5:00pm, Monday through Friday.</span>
									</li>
						</ul>
						</div>
				</div>
					</div>
		</div>
					</div>
		</section>
				</div>
		
		
			</div>

	
</main>