<main id="content" class="site-main post-81 page type-page status-publish hentry">

			<div class="page-header">
			<h1 class="entry-title">Buildings</h1>		</div>
	
	<div class="page-content">
				<div data-elementor-type="wp-page" data-elementor-id="81" class="elementor elementor-81" data-elementor-post-type="page">
						<section data-particle_enable="false" data-particle-mobile-disabled="false" class="elementor-section elementor-top-section elementor-element elementor-element-8bfa526 elementor-section-height-min-height elementor-section-boxed elementor-section-height-default elementor-section-items-middle" data-id="8bfa526" data-element_type="section" data-e-type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
							<div class="elementor-background-overlay"></div>
							<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-66da20f" data-id="66da20f" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-06694fd elementor-widget elementor-widget-heading" data-id="06694fd" data-element_type="widget" data-e-type="widget" data-settings="{&quot;_animation&quot;:&quot;none&quot;}" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h1 class="elementor-heading-title elementor-size-default">Buildings</h1>				</div>
				</div>
				<div class="elementor-element elementor-element-33bad6a elementor-widget elementor-widget-text-editor" data-id="33bad6a" data-element_type="widget" data-e-type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
									<p>One of our key strengths lies in our ability to consistently deliver projects on time and on budget. We understand the importance of meeting deadlines and respecting financial constraints, which is why we meticulously plan and execute each construction project with precision and efficiency. Our skilled team of professionals, comprising architects, engineers, project managers, and construction workers, work seamlessly together to ensure timely completion without compromising quality.</p>								</div>
				</div>
					</div>
		</div>
					</div>
		</section>
				<section data-particle_enable="false" data-particle-mobile-disabled="false" class="elementor-section elementor-top-section elementor-element elementor-element-3168c54 elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="3168c54" data-element_type="section" data-e-type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-no">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-ddf7294" data-id="ddf7294" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<section data-particle_enable="false" data-particle-mobile-disabled="false" class="elementor-section elementor-inner-section elementor-element elementor-element-3f2ed3a elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="3f2ed3a" data-element_type="section" data-e-type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-0620b3c" data-id="0620b3c" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-7bb8258 elementor-widget elementor-widget-heading" data-id="7bb8258" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h2 class="elementor-heading-title elementor-size-default">Industrial</h2>				</div>
				</div>
				<div class="elementor-element elementor-element-f2bb426 elementor-widget-divider--view-line elementor-widget elementor-widget-divider" data-id="f2bb426" data-element_type="widget" data-e-type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
							<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
						</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-2524e3f" data-id="2524e3f" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-99f1b92 elementor-flip-box--effect-zoom-in elementor-widget elementor-widget-flip-box" data-id="99f1b92" data-element_type="widget" data-e-type="widget" data-widget_type="flip-box.default">
				<div class="elementor-widget-container">
							<div class="elementor-flip-box" tabindex="0">
			<div class="elementor-flip-box__layer elementor-flip-box__front">
				<div class="elementor-flip-box__layer__overlay">
					<div class="elementor-flip-box__layer__inner">
						
													<h3 class="elementor-flip-box__layer__title">
								Industrial Distribution Facilities							</h3>
						
											</div>
				</div>
			</div>
			<a class="elementor-flip-box__layer elementor-flip-box__back" href="/buildings/distribution-facility/">
			<div class="elementor-flip-box__layer__overlay">
				<div class="elementor-flip-box__layer__inner">
											<h3 class="elementor-flip-box__layer__title">
							Industrial Distribution Facilities						</h3>
					
					
											<span class="elementor-flip-box__button elementor-button elementor-size-sm">
							Learn More						</span>
								</div>
		</div>
		</a>
		</div>
						</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-6a0685a" data-id="6a0685a" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-a25d00a elementor-flip-box--effect-zoom-in elementor-widget elementor-widget-flip-box" data-id="a25d00a" data-element_type="widget" data-e-type="widget" data-widget_type="flip-box.default">
				<div class="elementor-widget-container">
							<div class="elementor-flip-box" tabindex="0">
			<div class="elementor-flip-box__layer elementor-flip-box__front">
				<div class="elementor-flip-box__layer__overlay">
					<div class="elementor-flip-box__layer__inner">
						
													<h3 class="elementor-flip-box__layer__title">
								Industrial Manufacturing Facilities							</h3>
						
											</div>
				</div>
			</div>
			<a class="elementor-flip-box__layer elementor-flip-box__back" href="/buildings/distribution-facility/">
			<div class="elementor-flip-box__layer__overlay">
				<div class="elementor-flip-box__layer__inner">
											<h3 class="elementor-flip-box__layer__title">
							Industrial Manufacturing Facilities						</h3>
					
					
											<span class="elementor-flip-box__button elementor-button elementor-size-sm">
							Learn More						</span>
								</div>
		</div>
		</a>
		</div>
						</div>
				</div>
					</div>
		</div>
					</div>
		</section>
				<section data-particle_enable="false" data-particle-mobile-disabled="false" class="elementor-section elementor-inner-section elementor-element elementor-element-4c4d070 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="4c4d070" data-element_type="section" data-e-type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-2faa9f8" data-id="2faa9f8" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-4d07ff8 elementor-flip-box--effect-zoom-out elementor-widget elementor-widget-flip-box" data-id="4d07ff8" data-element_type="widget" data-e-type="widget" data-widget_type="flip-box.default">
				<div class="elementor-widget-container">
							<div class="elementor-flip-box" tabindex="0">
			<div class="elementor-flip-box__layer elementor-flip-box__front">
				<div class="elementor-flip-box__layer__overlay">
					<div class="elementor-flip-box__layer__inner">
						
													<h3 class="elementor-flip-box__layer__title">
								Industrial Chemical Manufacturing							</h3>
						
											</div>
				</div>
			</div>
			<a class="elementor-flip-box__layer elementor-flip-box__back" href="/buildings/chemical-manufacturing/">
			<div class="elementor-flip-box__layer__overlay">
				<div class="elementor-flip-box__layer__inner">
											<h3 class="elementor-flip-box__layer__title">
							Industrial Chemical Manufacturing						</h3>
					
					
											<span class="elementor-flip-box__button elementor-button elementor-size-sm">
							Learn More						</span>
								</div>
		</div>
		</a>
		</div>
						</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-46e4977" data-id="46e4977" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-6d233ff elementor-flip-box--effect-zoom-out elementor-widget elementor-widget-flip-box" data-id="6d233ff" data-element_type="widget" data-e-type="widget" data-widget_type="flip-box.default">
				<div class="elementor-widget-container">
							<div class="elementor-flip-box" tabindex="0">
			<div class="elementor-flip-box__layer elementor-flip-box__front">
				<div class="elementor-flip-box__layer__overlay">
					<div class="elementor-flip-box__layer__inner">
						
													<h3 class="elementor-flip-box__layer__title">
								Industrial Chemical Warehousing							</h3>
						
											</div>
				</div>
			</div>
			<a class="elementor-flip-box__layer elementor-flip-box__back" href="/buildings/chemical-warehousing/">
			<div class="elementor-flip-box__layer__overlay">
				<div class="elementor-flip-box__layer__inner">
											<h3 class="elementor-flip-box__layer__title">
							Industrial Chemical Warehousing						</h3>
					
					
											<span class="elementor-flip-box__button elementor-button elementor-size-sm">
							Learn More						</span>
								</div>
		</div>
		</a>
		</div>
						</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-a715111" data-id="a715111" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-de1afe2 elementor-flip-box--effect-zoom-out elementor-widget elementor-widget-flip-box" data-id="de1afe2" data-element_type="widget" data-e-type="widget" data-widget_type="flip-box.default">
				<div class="elementor-widget-container">
							<div class="elementor-flip-box" tabindex="0">
			<div class="elementor-flip-box__layer elementor-flip-box__front">
				<div class="elementor-flip-box__layer__overlay">
					<div class="elementor-flip-box__layer__inner">
						
													<h3 class="elementor-flip-box__layer__title">
								Industrial Storage Facilities							</h3>
						
											</div>
				</div>
			</div>
			<a class="elementor-flip-box__layer elementor-flip-box__back" href="/buildings/salt-storage/">
			<div class="elementor-flip-box__layer__overlay">
				<div class="elementor-flip-box__layer__inner">
											<h3 class="elementor-flip-box__layer__title">
							Industrial Storage Facilities						</h3>
					
					
											<span class="elementor-flip-box__button elementor-button elementor-size-sm">
							Learn More						</span>
								</div>
		</div>
		</a>
		</div>
						</div>
				</div>
					</div>
		</div>
					</div>
		</section>
					</div>
		</div>
					</div>
		</section>
				<section data-particle_enable="false" data-particle-mobile-disabled="false" class="elementor-section elementor-top-section elementor-element elementor-element-24c42e9 elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="24c42e9" data-element_type="section" data-e-type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-no">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-59bb441" data-id="59bb441" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<section data-particle_enable="false" data-particle-mobile-disabled="false" class="elementor-section elementor-inner-section elementor-element elementor-element-61a6903 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="61a6903" data-element_type="section" data-e-type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-4ce46ee" data-id="4ce46ee" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-d6e2dff elementor-widget elementor-widget-heading" data-id="d6e2dff" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h2 class="elementor-heading-title elementor-size-default">Aviation</h2>				</div>
				</div>
				<div class="elementor-element elementor-element-d95d7c8 elementor-widget-divider--view-line elementor-widget elementor-widget-divider" data-id="d95d7c8" data-element_type="widget" data-e-type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
							<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
						</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-1865da2" data-id="1865da2" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-19cf0fb elementor-flip-box--effect-zoom-in elementor-widget elementor-widget-flip-box" data-id="19cf0fb" data-element_type="widget" data-e-type="widget" data-widget_type="flip-box.default">
				<div class="elementor-widget-container">
							<div class="elementor-flip-box" tabindex="0">
			<div class="elementor-flip-box__layer elementor-flip-box__front">
				<div class="elementor-flip-box__layer__overlay">
					<div class="elementor-flip-box__layer__inner">
						
													<h3 class="elementor-flip-box__layer__title">
								Airplane Hangers							</h3>
						
											</div>
				</div>
			</div>
			<a class="elementor-flip-box__layer elementor-flip-box__back" href="/buildings/airplane-hangar/">
			<div class="elementor-flip-box__layer__overlay">
				<div class="elementor-flip-box__layer__inner">
											<h3 class="elementor-flip-box__layer__title">
							Airplane Hangers						</h3>
					
					
											<span class="elementor-flip-box__button elementor-button elementor-size-sm">
							Learn More						</span>
								</div>
		</div>
		</a>
		</div>
						</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-6efc10d" data-id="6efc10d" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-a93fd1b elementor-flip-box--effect-zoom-in elementor-widget elementor-widget-flip-box" data-id="a93fd1b" data-element_type="widget" data-e-type="widget" data-widget_type="flip-box.default">
				<div class="elementor-widget-container">
							<div class="elementor-flip-box" tabindex="0">
			<div class="elementor-flip-box__layer elementor-flip-box__front">
				<div class="elementor-flip-box__layer__overlay">
					<div class="elementor-flip-box__layer__inner">
						
													<h3 class="elementor-flip-box__layer__title">
								Helicopter Hangers							</h3>
						
											</div>
				</div>
			</div>
			<a class="elementor-flip-box__layer elementor-flip-box__back" href="/buildings/helicopter-hanger/">
			<div class="elementor-flip-box__layer__overlay">
				<div class="elementor-flip-box__layer__inner">
											<h3 class="elementor-flip-box__layer__title">
							Helicopter Hangers						</h3>
					
					
											<span class="elementor-flip-box__button elementor-button elementor-size-sm">
							Learn More						</span>
								</div>
		</div>
		</a>
		</div>
						</div>
				</div>
					</div>
		</div>
					</div>
		</section>
					</div>
		</div>
					</div>
		</section>
				<section data-particle_enable="false" data-particle-mobile-disabled="false" class="elementor-section elementor-top-section elementor-element elementor-element-d305bbe elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="d305bbe" data-element_type="section" data-e-type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-no">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-069f425" data-id="069f425" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<section data-particle_enable="false" data-particle-mobile-disabled="false" class="elementor-section elementor-inner-section elementor-element elementor-element-4138af2 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="4138af2" data-element_type="section" data-e-type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-321272e" data-id="321272e" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-0f34fcf elementor-widget elementor-widget-heading" data-id="0f34fcf" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h2 class="elementor-heading-title elementor-size-default">Athletic Facilities</h2>				</div>
				</div>
				<div class="elementor-element elementor-element-b2104b1 elementor-widget-divider--view-line elementor-widget elementor-widget-divider" data-id="b2104b1" data-element_type="widget" data-e-type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
							<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
						</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-2b98b52" data-id="2b98b52" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-f4f29cd elementor-flip-box--effect-zoom-in elementor-widget elementor-widget-flip-box" data-id="f4f29cd" data-element_type="widget" data-e-type="widget" data-widget_type="flip-box.default">
				<div class="elementor-widget-container">
							<div class="elementor-flip-box" tabindex="0">
			<div class="elementor-flip-box__layer elementor-flip-box__front">
				<div class="elementor-flip-box__layer__overlay">
					<div class="elementor-flip-box__layer__inner">
						
													<h3 class="elementor-flip-box__layer__title">
								Gymnasiums							</h3>
						
											</div>
				</div>
			</div>
			<a class="elementor-flip-box__layer elementor-flip-box__back" href="/buildings/gymnasium/">
			<div class="elementor-flip-box__layer__overlay">
				<div class="elementor-flip-box__layer__inner">
											<h3 class="elementor-flip-box__layer__title">
							Gymnasiums						</h3>
					
					
											<span class="elementor-flip-box__button elementor-button elementor-size-sm">
							Learn More						</span>
								</div>
		</div>
		</a>
		</div>
						</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-f620f85" data-id="f620f85" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-f7c4dde elementor-flip-box--effect-zoom-in elementor-widget elementor-widget-flip-box" data-id="f7c4dde" data-element_type="widget" data-e-type="widget" data-widget_type="flip-box.default">
				<div class="elementor-widget-container">
							<div class="elementor-flip-box" tabindex="0">
			<div class="elementor-flip-box__layer elementor-flip-box__front">
				<div class="elementor-flip-box__layer__overlay">
					<div class="elementor-flip-box__layer__inner">
						
													<h3 class="elementor-flip-box__layer__title">
								Indoor Practice Facilities							</h3>
						
											</div>
				</div>
			</div>
			<a class="elementor-flip-box__layer elementor-flip-box__back" href="/buildings/athletic-facilities/">
			<div class="elementor-flip-box__layer__overlay">
				<div class="elementor-flip-box__layer__inner">
											<h3 class="elementor-flip-box__layer__title">
							Indoor Practice Facilities						</h3>
					
					
											<span class="elementor-flip-box__button elementor-button elementor-size-sm">
							Learn More						</span>
								</div>
		</div>
		</a>
		</div>
						</div>
				</div>
					</div>
		</div>
					</div>
		</section>
					</div>
		</div>
					</div>
		</section>
				<section data-particle_enable="false" data-particle-mobile-disabled="false" class="elementor-section elementor-top-section elementor-element elementor-element-e3b03e9 elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="e3b03e9" data-element_type="section" data-e-type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-no">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-2413cbf" data-id="2413cbf" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<section data-particle_enable="false" data-particle-mobile-disabled="false" class="elementor-section elementor-inner-section elementor-element elementor-element-2f808c5 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="2f808c5" data-element_type="section" data-e-type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-4bfedc3" data-id="4bfedc3" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-abba099 elementor-widget elementor-widget-heading" data-id="abba099" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h2 class="elementor-heading-title elementor-size-default">Equestrian</h2>				</div>
				</div>
				<div class="elementor-element elementor-element-3e3a9fb elementor-widget-divider--view-line elementor-widget elementor-widget-divider" data-id="3e3a9fb" data-element_type="widget" data-e-type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
							<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
						</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-6f54e5f" data-id="6f54e5f" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-4fd8f43 elementor-flip-box--effect-zoom-in elementor-widget elementor-widget-flip-box" data-id="4fd8f43" data-element_type="widget" data-e-type="widget" data-widget_type="flip-box.default">
				<div class="elementor-widget-container">
							<div class="elementor-flip-box" tabindex="0">
			<div class="elementor-flip-box__layer elementor-flip-box__front">
				<div class="elementor-flip-box__layer__overlay">
					<div class="elementor-flip-box__layer__inner">
						
													<h3 class="elementor-flip-box__layer__title">
								Equestrian Arenas							</h3>
						
											</div>
				</div>
			</div>
			<a class="elementor-flip-box__layer elementor-flip-box__back" href="/buildings/equestrian/">
			<div class="elementor-flip-box__layer__overlay">
				<div class="elementor-flip-box__layer__inner">
											<h3 class="elementor-flip-box__layer__title">
							Equestrian Arenas						</h3>
					
					
											<span class="elementor-flip-box__button elementor-button elementor-size-sm">
							Learn More						</span>
								</div>
		</div>
		</a>
		</div>
						</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-eb46279" data-id="eb46279" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-b66e722 elementor-flip-box--effect-zoom-in elementor-widget elementor-widget-flip-box" data-id="b66e722" data-element_type="widget" data-e-type="widget" data-widget_type="flip-box.default">
				<div class="elementor-widget-container">
							<div class="elementor-flip-box" tabindex="0">
			<div class="elementor-flip-box__layer elementor-flip-box__front">
				<div class="elementor-flip-box__layer__overlay">
					<div class="elementor-flip-box__layer__inner">
						
													<h3 class="elementor-flip-box__layer__title">
								Equestrian Training Facilities							</h3>
						
											</div>
				</div>
			</div>
			<a class="elementor-flip-box__layer elementor-flip-box__back" href="/buildings/equestrian-training-facility/">
			<div class="elementor-flip-box__layer__overlay">
				<div class="elementor-flip-box__layer__inner">
											<h3 class="elementor-flip-box__layer__title">
							Equestrian Training Facilities						</h3>
					
					
											<span class="elementor-flip-box__button elementor-button elementor-size-sm">
							Learn More						</span>
								</div>
		</div>
		</a>
		</div>
						</div>
				</div>
					</div>
		</div>
					</div>
		</section>
					</div>
		</div>
					</div>
		</section>
				<section data-particle_enable="false" data-particle-mobile-disabled="false" class="elementor-section elementor-top-section elementor-element elementor-element-550bc6d elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="550bc6d" data-element_type="section" data-e-type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-no">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-f545108" data-id="f545108" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<section data-particle_enable="false" data-particle-mobile-disabled="false" class="elementor-section elementor-inner-section elementor-element elementor-element-c35942c elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="c35942c" data-element_type="section" data-e-type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-0efe947" data-id="0efe947" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-8c22e28 elementor-widget elementor-widget-heading" data-id="8c22e28" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h2 class="elementor-heading-title elementor-size-default">Automotive</h2>				</div>
				</div>
				<div class="elementor-element elementor-element-7cc90bf elementor-widget-divider--view-line elementor-widget elementor-widget-divider" data-id="7cc90bf" data-element_type="widget" data-e-type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
							<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
						</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-2d3e1bb" data-id="2d3e1bb" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-2d7160f elementor-flip-box--effect-zoom-in elementor-widget elementor-widget-flip-box" data-id="2d7160f" data-element_type="widget" data-e-type="widget" data-widget_type="flip-box.default">
				<div class="elementor-widget-container">
							<div class="elementor-flip-box" tabindex="0">
			<div class="elementor-flip-box__layer elementor-flip-box__front">
				<div class="elementor-flip-box__layer__overlay">
					<div class="elementor-flip-box__layer__inner">
						
													<h3 class="elementor-flip-box__layer__title">
								Automotive Dealerships							</h3>
						
											</div>
				</div>
			</div>
			<a class="elementor-flip-box__layer elementor-flip-box__back" href="/buildings/automotive/">
			<div class="elementor-flip-box__layer__overlay">
				<div class="elementor-flip-box__layer__inner">
											<h3 class="elementor-flip-box__layer__title">
							Automotive Dealerships						</h3>
					
					
											<span class="elementor-flip-box__button elementor-button elementor-size-sm">
							Learn More						</span>
								</div>
		</div>
		</a>
		</div>
						</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-00225e0" data-id="00225e0" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-7c520aa elementor-flip-box--effect-zoom-in elementor-widget elementor-widget-flip-box" data-id="7c520aa" data-element_type="widget" data-e-type="widget" data-widget_type="flip-box.default">
				<div class="elementor-widget-container">
							<div class="elementor-flip-box" tabindex="0">
			<div class="elementor-flip-box__layer elementor-flip-box__front">
				<div class="elementor-flip-box__layer__overlay">
					<div class="elementor-flip-box__layer__inner">
						
													<h3 class="elementor-flip-box__layer__title">
								Automotive Repair Shops							</h3>
						
											</div>
				</div>
			</div>
			<div class="elementor-flip-box__layer elementor-flip-box__back">
			<div class="elementor-flip-box__layer__overlay">
				<div class="elementor-flip-box__layer__inner">
											<h3 class="elementor-flip-box__layer__title">
							Automotive Repair Shops						</h3>
					
					
											<a class="elementor-flip-box__button elementor-button elementor-size-sm" role="button" tabindex="0">
							Learn More						</a>
								</div>
		</div>
		</div>
		</div>
						</div>
				</div>
					</div>
		</div>
					</div>
		</section>
				<section data-particle_enable="false" data-particle-mobile-disabled="false" class="elementor-section elementor-inner-section elementor-element elementor-element-0fa9286 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="0fa9286" data-element_type="section" data-e-type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-dd5befb" data-id="dd5befb" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-d6ed6f6 elementor-flip-box--effect-zoom-out elementor-widget elementor-widget-flip-box" data-id="d6ed6f6" data-element_type="widget" data-e-type="widget" data-widget_type="flip-box.default">
				<div class="elementor-widget-container">
							<div class="elementor-flip-box" tabindex="0">
			<div class="elementor-flip-box__layer elementor-flip-box__front">
				<div class="elementor-flip-box__layer__overlay">
					<div class="elementor-flip-box__layer__inner">
						
													<h3 class="elementor-flip-box__layer__title">
								Automotive Storage Facilities							</h3>
						
											</div>
				</div>
			</div>
			<a class="elementor-flip-box__layer elementor-flip-box__back" href="#">
			<div class="elementor-flip-box__layer__overlay">
				<div class="elementor-flip-box__layer__inner">
											<h3 class="elementor-flip-box__layer__title">
							Automotive Storage Facilities						</h3>
					
					
											<span class="elementor-flip-box__button elementor-button elementor-size-sm">
							Learn More						</span>
								</div>
		</div>
		</a>
		</div>
						</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-b1b5520" data-id="b1b5520" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap">
							</div>
		</div>
				<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-65cb979" data-id="65cb979" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap">
							</div>
		</div>
					</div>
		</section>
					</div>
		</div>
					</div>
		</section>
				<section data-particle_enable="false" data-particle-mobile-disabled="false" class="elementor-section elementor-top-section elementor-element elementor-element-83af5d1 elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="83af5d1" data-element_type="section" data-e-type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-no">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-79618e0" data-id="79618e0" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<section data-particle_enable="false" data-particle-mobile-disabled="false" class="elementor-section elementor-inner-section elementor-element elementor-element-3e58758 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="3e58758" data-element_type="section" data-e-type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-2a445ad" data-id="2a445ad" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-6805e2f elementor-widget elementor-widget-heading" data-id="6805e2f" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h2 class="elementor-heading-title elementor-size-default">Car Wash</h2>				</div>
				</div>
				<div class="elementor-element elementor-element-52be262 elementor-widget-divider--view-line elementor-widget elementor-widget-divider" data-id="52be262" data-element_type="widget" data-e-type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
							<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
						</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-ca5b81e" data-id="ca5b81e" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-e910dce elementor-flip-box--effect-zoom-in elementor-widget elementor-widget-flip-box" data-id="e910dce" data-element_type="widget" data-e-type="widget" data-widget_type="flip-box.default">
				<div class="elementor-widget-container">
							<div class="elementor-flip-box" tabindex="0">
			<div class="elementor-flip-box__layer elementor-flip-box__front">
				<div class="elementor-flip-box__layer__overlay">
					<div class="elementor-flip-box__layer__inner">
						
													<h3 class="elementor-flip-box__layer__title">
								Full Service Car Wash							</h3>
						
											</div>
				</div>
			</div>
			<a class="elementor-flip-box__layer elementor-flip-box__back" href="/buildings/car-wash/">
			<div class="elementor-flip-box__layer__overlay">
				<div class="elementor-flip-box__layer__inner">
											<h3 class="elementor-flip-box__layer__title">
							Full Service Car Wash						</h3>
					
					
											<span class="elementor-flip-box__button elementor-button elementor-size-sm">
							Learn More						</span>
								</div>
		</div>
		</a>
		</div>
						</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-93f99f6" data-id="93f99f6" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-e8e5b41 elementor-flip-box--effect-zoom-in elementor-widget elementor-widget-flip-box" data-id="e8e5b41" data-element_type="widget" data-e-type="widget" data-widget_type="flip-box.default">
				<div class="elementor-widget-container">
							<div class="elementor-flip-box" tabindex="0">
			<div class="elementor-flip-box__layer elementor-flip-box__front">
				<div class="elementor-flip-box__layer__overlay">
					<div class="elementor-flip-box__layer__inner">
						
													<h3 class="elementor-flip-box__layer__title">
								Self Serve Car Wash							</h3>
						
											</div>
				</div>
			</div>
			<div class="elementor-flip-box__layer elementor-flip-box__back">
			<div class="elementor-flip-box__layer__overlay">
				<div class="elementor-flip-box__layer__inner">
											<h3 class="elementor-flip-box__layer__title">
							Self Serve Car Wash						</h3>
					
					
											<a class="elementor-flip-box__button elementor-button elementor-size-sm" role="button" tabindex="0">
							Learn More						</a>
								</div>
		</div>
		</div>
		</div>
						</div>
				</div>
					</div>
		</div>
					</div>
		</section>
					</div>
		</div>
					</div>
		</section>
				<section data-particle_enable="false" data-particle-mobile-disabled="false" class="elementor-section elementor-top-section elementor-element elementor-element-ce5bb46 elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="ce5bb46" data-element_type="section" data-e-type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-no">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-cd40b52" data-id="cd40b52" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<section data-particle_enable="false" data-particle-mobile-disabled="false" class="elementor-section elementor-inner-section elementor-element elementor-element-29f79c5 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="29f79c5" data-element_type="section" data-e-type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-2ef6ab9" data-id="2ef6ab9" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-d9109fb elementor-widget elementor-widget-heading" data-id="d9109fb" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h2 class="elementor-heading-title elementor-size-default">Child Care</h2>				</div>
				</div>
				<div class="elementor-element elementor-element-e7b1bc2 elementor-widget-divider--view-line elementor-widget elementor-widget-divider" data-id="e7b1bc2" data-element_type="widget" data-e-type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
							<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
						</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-24196e3" data-id="24196e3" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-52510d2 elementor-flip-box--effect-zoom-in elementor-widget elementor-widget-flip-box" data-id="52510d2" data-element_type="widget" data-e-type="widget" data-widget_type="flip-box.default">
				<div class="elementor-widget-container">
							<div class="elementor-flip-box" tabindex="0">
			<div class="elementor-flip-box__layer elementor-flip-box__front">
				<div class="elementor-flip-box__layer__overlay">
					<div class="elementor-flip-box__layer__inner">
						
													<h3 class="elementor-flip-box__layer__title">
								Pre-school Childrens Facility							</h3>
						
											</div>
				</div>
			</div>
			<a class="elementor-flip-box__layer elementor-flip-box__back" href="/buildings/child-care/">
			<div class="elementor-flip-box__layer__overlay">
				<div class="elementor-flip-box__layer__inner">
											<h3 class="elementor-flip-box__layer__title">
							Pre-school Childrens Facility						</h3>
					
					
											<span class="elementor-flip-box__button elementor-button elementor-size-sm">
							Learn More						</span>
								</div>
		</div>
		</a>
		</div>
						</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-65e55c2" data-id="65e55c2" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap">
							</div>
		</div>
					</div>
		</section>
					</div>
		</div>
					</div>
		</section>
				<section data-particle_enable="false" data-particle-mobile-disabled="false" class="elementor-section elementor-top-section elementor-element elementor-element-4262940 elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="4262940" data-element_type="section" data-e-type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-no">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-b957eda" data-id="b957eda" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<section data-particle_enable="false" data-particle-mobile-disabled="false" class="elementor-section elementor-inner-section elementor-element elementor-element-3d51178 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="3d51178" data-element_type="section" data-e-type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-eab8a0d" data-id="eab8a0d" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-da22641 elementor-widget elementor-widget-heading" data-id="da22641" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h2 class="elementor-heading-title elementor-size-default">Warehouse</h2>				</div>
				</div>
				<div class="elementor-element elementor-element-b70f5f0 elementor-widget-divider--view-line elementor-widget elementor-widget-divider" data-id="b70f5f0" data-element_type="widget" data-e-type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
							<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
						</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-2e2f368" data-id="2e2f368" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-63303ff elementor-flip-box--effect-zoom-in elementor-widget elementor-widget-flip-box" data-id="63303ff" data-element_type="widget" data-e-type="widget" data-widget_type="flip-box.default">
				<div class="elementor-widget-container">
							<div class="elementor-flip-box" tabindex="0">
			<div class="elementor-flip-box__layer elementor-flip-box__front">
				<div class="elementor-flip-box__layer__overlay">
					<div class="elementor-flip-box__layer__inner">
						
													<h3 class="elementor-flip-box__layer__title">
								Product Warehousing							</h3>
						
											</div>
				</div>
			</div>
			<a class="elementor-flip-box__layer elementor-flip-box__back" href="/buildings/warehouse/">
			<div class="elementor-flip-box__layer__overlay">
				<div class="elementor-flip-box__layer__inner">
											<h3 class="elementor-flip-box__layer__title">
							Product Warehousing						</h3>
					
					
											<span class="elementor-flip-box__button elementor-button elementor-size-sm">
							Learn More						</span>
								</div>
		</div>
		</a>
		</div>
						</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-08a0b08" data-id="08a0b08" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-f3cd5d1 elementor-flip-box--effect-zoom-in elementor-widget elementor-widget-flip-box" data-id="f3cd5d1" data-element_type="widget" data-e-type="widget" data-widget_type="flip-box.default">
				<div class="elementor-widget-container">
							<div class="elementor-flip-box" tabindex="0">
			<div class="elementor-flip-box__layer elementor-flip-box__front">
				<div class="elementor-flip-box__layer__overlay">
					<div class="elementor-flip-box__layer__inner">
						
													<h3 class="elementor-flip-box__layer__title">
								Rail Distribution Centers							</h3>
						
											</div>
				</div>
			</div>
			<a class="elementor-flip-box__layer elementor-flip-box__back" href="/buildings/rail-distribution-centers/">
			<div class="elementor-flip-box__layer__overlay">
				<div class="elementor-flip-box__layer__inner">
											<h3 class="elementor-flip-box__layer__title">
							Rail Distribution Centers						</h3>
					
					
											<span class="elementor-flip-box__button elementor-button elementor-size-sm">
							Learn More						</span>
								</div>
		</div>
		</a>
		</div>
						</div>
				</div>
					</div>
		</div>
					</div>
		</section>
					</div>
		</div>
					</div>
		</section>
				</div>
		
		
			</div>

	
</main>