<main id="content" class="site-main post-204 page type-page status-publish hentry">

	
	<div class="page-content">
				<div data-elementor-type="wp-page" data-elementor-id="204" class="elementor elementor-204" data-elementor-post-type="page">
						<section data-particle_enable="false" data-particle-mobile-disabled="false" class="elementor-section elementor-top-section elementor-element elementor-element-667e116 elementor-section-height-min-height elementor-section-boxed elementor-section-height-default elementor-section-items-middle" data-id="667e116" data-element_type="section" data-e-type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
							<div class="elementor-background-overlay"></div>
							<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-fa6382c" data-id="fa6382c" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-641ebbf elementor-widget elementor-widget-heading" data-id="641ebbf" data-element_type="widget" data-e-type="widget" data-settings="{&quot;_animation&quot;:&quot;none&quot;}" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h1 class="elementor-heading-title elementor-size-default">Horse Arena Construction</h1>				</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-e62afef" data-id="e62afef" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap">
							</div>
		</div>
					</div>
		</section>
				<section data-particle_enable="false" data-particle-mobile-disabled="false" class="elementor-section elementor-top-section elementor-element elementor-element-bd6cd9c elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="bd6cd9c" data-element_type="section" data-e-type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-61cda51" data-id="61cda51" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-8e4b922 elementor-widget__width-initial elementor-widget elementor-widget-text-editor" data-id="8e4b922" data-element_type="widget" data-e-type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
									<p>While it is easy to see the benefit of a home riding arena, what isn’t easy is understanding all the many aspects of doing it right.</p><p>Robert Malmgren, who authored The Equine Arena Handbook: Developing a User-Friendly Facility, is considered the foremost authority on arenas. He says there are far too many pitfalls to be found in horse arena construction for the average landowner.</p><p>TR Industrial is the kind of company that&nbsp;<a href="https://trindustrial.wpengine.com/services/construction-management-general-contracting/" target="_blank" rel="noopener">CAN avoid those pitfalls</a>, having the expertise to take your equestrian arena project all the way from soil evaluation and planning to the finishing touches that make it perfect.</p>								</div>
				</div>
				<section data-particle_enable="false" data-particle-mobile-disabled="false" class="elementor-section elementor-inner-section elementor-element elementor-element-a4db67a elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="a4db67a" data-element_type="section" data-e-type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-f9e843a" data-id="f9e843a" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-74e1605 elementor-widget elementor-widget-image" data-id="74e1605" data-element_type="widget" data-e-type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
															<img decoding="async" width="800" height="458" src="/wp-content/uploads/2023/05/Equestrian-Arena-4.jpg" class="attachment-large size-large wp-image-243" alt="" srcset="/wp-content/uploads/2023/05/Equestrian-Arena-4.jpg 827w, /wp-content/uploads/2023/05/Equestrian-Arena-4-300x172.jpg 300w, /wp-content/uploads/2023/05/Equestrian-Arena-4-768x439.jpg 768w" sizes="(max-width: 800px) 100vw, 800px">															</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-7be45be" data-id="7be45be" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-dbf92ba elementor-widget elementor-widget-heading" data-id="dbf92ba" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h2 class="elementor-heading-title elementor-size-default">Building A Riding Arena For Your Home</h2>				</div>
				</div>
				<div class="elementor-element elementor-element-2852331 elementor-widget elementor-widget-text-editor" data-id="2852331" data-element_type="widget" data-e-type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
									<p>A private riding arena is wonderful for competitive equestrians. It provides ease of practice, with no time lost in commute. It is a skillfully prepared proper footing for the safety of valuable horses.</p><p>Among the many things to consider are the composition of the base soil, the proper drainage of the area, and winter temperatures that can cause damage through ground expansion if not planned for.</p><p>Also, learning which materials to use for retaining walls and the multiple levels of ground cover for the arena surface are important considerations.</p>								</div>
				</div>
				<div class="elementor-element elementor-element-dd03b9f elementor-widget elementor-widget-heading" data-id="dd03b9f" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h3 class="elementor-heading-title elementor-size-default">Is it Beneficial To Have Your Own Arena?</h3>				</div>
				</div>
				<div class="elementor-element elementor-element-4ffc433 elementor-widget elementor-widget-text-editor" data-id="4ffc433" data-element_type="widget" data-e-type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
									<p>It is definitely a benefit to have an indoor arena at home. It provides more consistent work and training for the horses, keeping them healthier.</p><p>The stable base and correct riding surface protect equine legs and feet from harm and excessive wear. With a home arena, training and practice aren’t derailed by heavy rain or extreme temperatures.</p>								</div>
				</div>
					</div>
		</div>
					</div>
		</section>
				<section data-particle_enable="false" data-particle-mobile-disabled="false" class="elementor-section elementor-inner-section elementor-element elementor-element-da1cba5 elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="da1cba5" data-element_type="section" data-e-type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-13127bc" data-id="13127bc" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-e69ebe5 elementor-widget elementor-widget-heading" data-id="e69ebe5" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h2 class="elementor-heading-title elementor-size-default">Planning Your Horse Arena Construction</h2>				</div>
				</div>
				<div class="elementor-element elementor-element-25b158c elementor-widget elementor-widget-text-editor" data-id="25b158c" data-element_type="widget" data-e-type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
									<p>Planning is the practical part of dreaming, so when planning, remember to include all the important aspects and, most importantly,&nbsp;<a href="https://trindustrial.wpengine.com/services/subcontracting/" target="_blank">choose a contractor</a>&nbsp;who will know what key pieces your dream is missing.</p>								</div>
				</div>
				<div class="elementor-element elementor-element-ee6d29a elementor-widget elementor-widget-heading" data-id="ee6d29a" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h3 class="elementor-heading-title elementor-size-default">Determining The Size Of Your Arena</h3>				</div>
				</div>
				<div class="elementor-element elementor-element-5ca536d elementor-widget elementor-widget-text-editor" data-id="5ca536d" data-element_type="widget" data-e-type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
									<p>As you consider your usage needs, the contractors at&nbsp;<a href="https://trindustrial.wpengine.com/about-us/" target="_blank" rel="noopener">TR Industrial</a>&nbsp;can help you assess what is optimal for you and what can be accomplished within your budget.</p><p>It’s an important part of the quality services that they offer, maximizing efficiency and cost management.</p>								</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-b1e563a" data-id="b1e563a" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-7bbdb09 elementor-widget elementor-widget-image" data-id="7bbdb09" data-element_type="widget" data-e-type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
															<img decoding="async" width="800" height="304" src="/wp-content/uploads/2023/05/Equestrian-Arena-5-1024x389.jpg" class="attachment-large size-large wp-image-245" alt="" srcset="/wp-content/uploads/2023/05/Equestrian-Arena-5-1024x389.jpg 1024w, /wp-content/uploads/2023/05/Equestrian-Arena-5-300x114.jpg 300w, /wp-content/uploads/2023/05/Equestrian-Arena-5-768x291.jpg 768w, /wp-content/uploads/2023/05/Equestrian-Arena-5.jpg 1141w" sizes="(max-width: 800px) 100vw, 800px">															</div>
				</div>
					</div>
		</div>
					</div>
		</section>
				<section data-particle_enable="false" data-particle-mobile-disabled="false" class="elementor-section elementor-inner-section elementor-element elementor-element-2c1bc4e elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="2c1bc4e" data-element_type="section" data-e-type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-c182fba" data-id="c182fba" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-3b15829 elementor-widget elementor-widget-image" data-id="3b15829" data-element_type="widget" data-e-type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
															<img loading="lazy" decoding="async" width="800" height="534" src="/wp-content/uploads/2023/05/Equestrian-Arena-2-1024x683.jpg" class="attachment-large size-large wp-image-242" alt="" srcset="/wp-content/uploads/2023/05/Equestrian-Arena-2-1024x683.jpg 1024w, /wp-content/uploads/2023/05/Equestrian-Arena-2-300x200.jpg 300w, /wp-content/uploads/2023/05/Equestrian-Arena-2-768x512.jpg 768w, /wp-content/uploads/2023/05/Equestrian-Arena-2.jpg 1440w" sizes="(max-width: 800px) 100vw, 800px">															</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-4232162" data-id="4232162" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-62ab801 elementor-widget elementor-widget-heading" data-id="62ab801" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h2 class="elementor-heading-title elementor-size-default">Do You Need Sand For Your Horse Arena?</h2>				</div>
				</div>
				<div class="elementor-element elementor-element-a4b27b0 elementor-widget elementor-widget-text-editor" data-id="a4b27b0" data-element_type="widget" data-e-type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
									<p>Successful arenas use carefully selected sand as the main ingredient in the base cover. Sand is a good cushion and holds water well.</p><p>Expertly planned cover avoids many arena problems, keeps dust at a minimum, and protects the well-being of horses and riders.</p>								</div>
				</div>
				<div class="elementor-element elementor-element-a6e102c elementor-widget elementor-widget-heading" data-id="a6e102c" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h3 class="elementor-heading-title elementor-size-default">Is All Arena Sand Equal?</h3>				</div>
				</div>
				<div class="elementor-element elementor-element-b2bfcd6 elementor-widget elementor-widget-text-editor" data-id="b2bfcd6" data-element_type="widget" data-e-type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
									<p>Sand is an excellent cover for the base material of your new arena, but all sands are not created equal!</p><p>Considerations in choosing sand include how well it compacts or sticks together, whether it grips itself or slides like ball bearings. Is the sand dusty? Is it “cleaned”?</p>								</div>
				</div>
				<div class="elementor-element elementor-element-5a7117f elementor-widget elementor-widget-heading" data-id="5a7117f" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h3 class="elementor-heading-title elementor-size-default">What Sand Should You Use?</h3>				</div>
				</div>
				<div class="elementor-element elementor-element-eca2d9b elementor-widget elementor-widget-text-editor" data-id="eca2d9b" data-element_type="widget" data-e-type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
									<p>Riding arena surfaces should contain cleaned and screened, medium to coarse, hard, sharp sand.</p><p>Fine sand will break down more readily into small enough particles to be lofted as dust. Round sand will not compact as it should.</p>								</div>
				</div>
					</div>
		</div>
					</div>
		</section>
					</div>
		</div>
					</div>
		</section>
				<section data-particle_enable="false" data-particle-mobile-disabled="false" class="elementor-section elementor-top-section elementor-element elementor-element-ecd889e elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="ecd889e" data-element_type="section" data-e-type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-875634d" data-id="875634d" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-c4403f5 elementor-widget elementor-widget-heading" data-id="c4403f5" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h2 class="elementor-heading-title elementor-size-default">Selecting The Best Location For Your Horse Arena</h2>				</div>
				</div>
				<div class="elementor-element elementor-element-c266550 elementor-widget elementor-widget-text-editor" data-id="c266550" data-element_type="widget" data-e-type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
									<p>The planning experts at TR Industrial can help you choose the ideal location for the construction process of your dream arena.</p><p>Proximity to stables and home is important of course. Convenience, ease of care for animals, food, and personal needs for riders, all factor in.</p><p>Other considerations such as the amount of excavation required, environmental impact, and direction of the arena for ideal wind and sun exposure all matter as well.</p>								</div>
				</div>
				<section data-particle_enable="false" data-particle-mobile-disabled="false" class="elementor-section elementor-inner-section elementor-element elementor-element-6a7f56e elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="6a7f56e" data-element_type="section" data-e-type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-a156fb1" data-id="a156fb1" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-d200856 elementor-widget elementor-widget-heading" data-id="d200856" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h2 class="elementor-heading-title elementor-size-default">Constructing Your Horse Arena</h2>				</div>
				</div>
				<div class="elementor-element elementor-element-586f5b8 elementor-widget elementor-widget-text-editor" data-id="586f5b8" data-element_type="widget" data-e-type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
									<p>TR Industrial has the experience to both KNOW all the steps and processes needed for your riding arena project, and also to EXECUTE them.</p><p>They will know what permits to get and where to find the best resources. They schedule everything themselves, avoiding delays and confusion.</p>								</div>
				</div>
					</div>
		</div>
					</div>
		</section>
				<section data-particle_enable="false" data-particle-mobile-disabled="false" class="elementor-section elementor-inner-section elementor-element elementor-element-5e59d93 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="5e59d93" data-element_type="section" data-e-type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-1028bb4" data-id="1028bb4" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-89b9e58 elementor-widget elementor-widget-heading" data-id="89b9e58" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h3 class="elementor-heading-title elementor-size-default">The Base Is Crucial</h3>				</div>
				</div>
				<div class="elementor-element elementor-element-26a6f42 elementor-widget elementor-widget-text-editor" data-id="26a6f42" data-element_type="widget" data-e-type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
									<p>The base is the undergirding of everything else in your arena area.</p><p>If the base is correct, you won’t have drainage issues, soft spots creating risk, or compromising your horse’s performance because he is uncertain of good footing.</p>								</div>
				</div>
				<div class="elementor-element elementor-element-81ab28a elementor-widget elementor-widget-heading" data-id="81ab28a" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h3 class="elementor-heading-title elementor-size-default">Drain For Your Riding Area</h3>				</div>
				</div>
				<div class="elementor-element elementor-element-77fc755 elementor-widget elementor-widget-text-editor" data-id="77fc755" data-element_type="widget" data-e-type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
									<p>When your training is important for both riders and horses, interruptions because of poor drainage is unacceptable. Time is wasted when the ground ends up too wet to use.</p><p>The experts will determine soil type up to 3 feet deep to know how it will handle water, planning the right system for the soil, including potential french drains to funnel the water around and away from your arena.</p>								</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-4c78298" data-id="4c78298" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-452ca8e elementor-widget elementor-widget-heading" data-id="452ca8e" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h3 class="elementor-heading-title elementor-size-default">Arena Footing Additives</h3>				</div>
				</div>
				<div class="elementor-element elementor-element-5be966a elementor-widget elementor-widget-text-editor" data-id="5be966a" data-element_type="widget" data-e-type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
									<p>Sand is the basic ingredient in the surface of most riding arenas.</p><p>There are many types of additives for combining with sand. A couple of examples of those are shredded felt, or crumb rubber.</p><p>Additives can improve the footing material but must be chosen carefully and manufactured specifically for an equestrian arena.</p>								</div>
				</div>
					</div>
		</div>
					</div>
		</section>
				<section data-particle_enable="false" data-particle-mobile-disabled="false" class="elementor-section elementor-inner-section elementor-element elementor-element-497612d elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="497612d" data-element_type="section" data-e-type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-295a0fd" data-id="295a0fd" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-d3d5716 elementor-widget elementor-widget-heading" data-id="d3d5716" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h2 class="elementor-heading-title elementor-size-default">What Goes Into Preparing The Arena Site And Ground?</h2>				</div>
				</div>
				<div class="elementor-element elementor-element-e04d123 elementor-widget elementor-widget-text-editor" data-id="e04d123" data-element_type="widget" data-e-type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
									<p>Of course, an uneven surface is unacceptable, so after soil evaluation, the next steps are leveling and compacting appropriately.</p><p>Retaining walls are installed when building arenas to contain the expensive ground cover.</p>								</div>
				</div>
					</div>
		</div>
					</div>
		</section>
				<section data-particle_enable="false" data-particle-mobile-disabled="false" class="elementor-section elementor-inner-section elementor-element elementor-element-839b1c4 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="839b1c4" data-element_type="section" data-e-type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-47fac29" data-id="47fac29" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-4bb19d1 elementor-widget elementor-widget-heading" data-id="4bb19d1" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h2 class="elementor-heading-title elementor-size-default">Ground Preparation Outdoor Arena vs. Indoor Riding Arena</h2>				</div>
				</div>
				<div class="elementor-element elementor-element-3f0dce6 elementor-widget elementor-widget-text-editor" data-id="3f0dce6" data-element_type="widget" data-e-type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
									<p>The main difference between an indoor riding surface and an outdoor riding surface is the level of the base.</p><p>Indoors, the base will be flat, but outdoors it will be crowned to allow better drainage.</p>								</div>
				</div>
					</div>
		</div>
					</div>
		</section>
				<section data-particle_enable="false" data-particle-mobile-disabled="false" class="elementor-section elementor-inner-section elementor-element elementor-element-90fd6d4 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="90fd6d4" data-element_type="section" data-e-type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-99dabe0" data-id="99dabe0" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-1a75962 elementor-widget elementor-widget-heading" data-id="1a75962" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h2 class="elementor-heading-title elementor-size-default">Prevent Potential Issues With Proper Planning</h2>				</div>
				</div>
				<div class="elementor-element elementor-element-70c7fbe elementor-widget elementor-widget-text-editor" data-id="70c7fbe" data-element_type="widget" data-e-type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
									<p>Understanding all the steps and red tape in a big project is the expertise of TR Industrial.</p><p>Taking advantage of that knowledge will allow you to create the building you need for the money you have!</p><p>Missing a step, or overlooking a permit are costly and difficult mistakes to rectify….but a general contractor knows how to avoid those pitfalls.</p>								</div>
				</div>
					</div>
		</div>
					</div>
		</section>
					</div>
		</div>
					</div>
		</section>
				<section data-particle_enable="false" data-particle-mobile-disabled="false" class="elementor-section elementor-top-section elementor-element elementor-element-b4dcfa7 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="b4dcfa7" data-element_type="section" data-e-type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-08b068b" data-id="08b068b" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-cc8fbee elementor-widget elementor-widget-heading" data-id="cc8fbee" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h2 class="elementor-heading-title elementor-size-default">Why Should You Choose TR INDUSTRIAL To Build Your Horse Arena?</h2>				</div>
				</div>
				<div class="elementor-element elementor-element-7057e96 elementor-widget__width-initial elementor-widget elementor-widget-text-editor" data-id="7057e96" data-element_type="widget" data-e-type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
									<p>The self-performing process of the experts at TR Industrial will do every step of your project with excellence.</p><p>Site evaluation, excavation, planning, permit and material acquisition, and final details, are all handled for you with experience and knowledge.</p>								</div>
				</div>
					</div>
		</div>
					</div>
		</section>
				<section data-particle_enable="false" data-particle-mobile-disabled="false" class="elementor-section elementor-top-section elementor-element elementor-element-40c241c elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="40c241c" data-element_type="section" data-e-type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-aa9b9ae" data-id="aa9b9ae" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-b9d022a elementor-widget elementor-widget-heading" data-id="b9d022a" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h2 class="elementor-heading-title elementor-size-default">Conclusion</h2>				</div>
				</div>
				<div class="elementor-element elementor-element-0535dc2 elementor-widget__width-initial elementor-widget elementor-widget-text-editor" data-id="0535dc2" data-element_type="widget" data-e-type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
									<p><span style="font-weight: 400;">TR Industrial can help you understand all the benefits and advantages of a steel commercial building. When you are ready to improve your property with a steel building, let us bring our years of expertise to the table, and help you from design and site preparation, all the way to finished and polished!</span></p>								</div>
				</div>
					</div>
		</div>
					</div>
		</section>
				<section data-particle_enable="false" data-particle-mobile-disabled="false" class="elementor-section elementor-top-section elementor-element elementor-element-467142b elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="467142b" data-element_type="section" data-e-type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
							<div class="elementor-background-overlay"></div>
							<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-b4b8077" data-id="b4b8077" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-ca5a6a7 elementor-widget elementor-widget-heading" data-id="ca5a6a7" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h2 class="elementor-heading-title elementor-size-default">Get Your Free Quote Today!</h2>				</div>
				</div>
				<div class="elementor-element elementor-element-5c47bc4 elementor-widget elementor-widget-text-editor" data-id="5c47bc4" data-element_type="widget" data-e-type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
									<p><span style="font-weight: 400;">Your next industrial construction project doesn’t have to be a hassle. Let the specialist team at TR Industrial create and design your new facility while you rest assured of stellar execution. There’s a free quote at the bottom of every page!</span></p>								</div>
				</div>
				<div class="elementor-element elementor-element-0a33593 elementor-align-center elementor-widget elementor-widget-button" data-id="0a33593" data-element_type="widget" data-e-type="widget" data-widget_type="button.default">
				<div class="elementor-widget-container">
									<div class="elementor-button-wrapper">
					<a class="elementor-button elementor-button-link elementor-size-sm elementor-animation-grow" href="#">
						<span class="elementor-button-content-wrapper">
									<span class="elementor-button-text">Get Free Estimate</span>
					</span>
					</a>
				</div>
								</div>
				</div>
					</div>
		</div>
					</div>
		</section>
				</div>
		
		
			</div>

	
</main>