
div.wpforms-container-full {
	margin: 0 auto !important;
}

.wpforms-container .wpforms-field.wpforms-field-layout .wpforms-field {
	padding: 0 !important;
}

.page-id-54 .elementor-element-fc9578b {
	display: none;
}
